In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from Functions import *

In [5]:
df1=pd.read_csv("fe_binning.csv")

In [6]:
df1.head()

       country  happiness
0  Afghanistan   3.982855
1      Albania   4.606651
2    Argentina   6.697131
3      Armenia   4.348320
4    Australia   7.309061

In [16]:
#Allocate happiness to bins
binned=pd.cut(df1["happiness"], bins=[0,4,6,10], labels=["L","M","H"])

#Add the binned values aas a categorical feature
df1["happiness_band"]=binned

In [17]:
df1.head()

       country  happiness happiness_band
0  Afghanistan   3.982855              L
1      Albania   4.606651              M
2    Argentina   6.697131              H
3      Armenia   4.348320              M
4    Australia   7.309061              H

In [19]:
#Inspect the no of inviduals in each of the created classes
df1.groupby("happiness_band").size()

happiness_band
L    19
M    80
H    44
dtype: int64