In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pyplot

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from Functions import *

In [5]:
df1=pd.read_csv("fe_binning.csv")

In [6]:
df1.head()

       country  happiness
0  Afghanistan   3.982855
1      Albania   4.606651
2    Argentina   6.697131
3      Armenia   4.348320
4    Australia   7.309061

In [12]:
#Allocate happiness to bins
binned=pd.cut(df1["happiness"], bins=[0,4,5,6,10], labels=["L","M","H"])

#Add the binned values aas a categorical feature
df1["happiness_band"].binned

ValueError: Bin labels must be one fewer than the number of bin edges